!__init__.py

test.py

*.bak
*.pyc
*.qrc
*.log
*.stats


*_DEBUG.sh
*_DEBUG.bat

data/user/alexa

img/_src
img/img_rc.py

lib/ideas

software/max/plugins/*
software/maya/plugins/*
software/nuke/plugins/*
software/houdini/plugins/*
software/nuke/gizmos/extern
