!__init__.py

_src
.vscode

*.bak
*.pyc
*.qrc
*.log
*.stats

*_DEBUG.sh
*_DEBUG.bat

config/users/*
!config/users/arichter
config/projects/*
!config/projects/default

img/img_rc.py

software/max/plugins/*
software/maya/plugins/*
software/nuke/plugins/*
software/houdini/plugins/*
software/nuke/gizmos/extern
